<section>
  <mat-card>
    <mat-card-title>Runs Panel</mat-card-title>
    <mat-card-subtitle>Select the Runs</mat-card-subtitle>

    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-label class="small-lbl">Runs</mat-label>
      <!-- Button Group for Selecting Runs -->
      <mat-button-toggle-group (change)="changeRun($event.value)" value="0">
        <mat-button-toggle value="0">0</mat-button-toggle>
        <mat-button-toggle value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
        <mat-button-toggle value="4">4</mat-button-toggle>
        <mat-button-toggle value="5">5</mat-button-toggle>
        <mat-button-toggle value="6">6</mat-button-toggle>
        <mat-button-toggle value="7">7</mat-button-toggle>
        <mat-button-toggle value="8">8</mat-button-toggle>
        <mat-button-toggle value="9">9</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-divider></mat-divider>

      <!-- Select Extras -->
      <mat-label class="small-lbl">Extras</mat-label>
      <section fxLayout="row" fxLayoutAlign="space-between center">
        <span *ngFor="let e of extraVals">
          <mat-checkbox [(ngModel)]="e.isOn"
                        (ngModelChange)="updateExtraValues(e)">
            {{e.name}}
          </mat-checkbox>
        </span>
        <span *ngFor="let e of extraValsBys">
          <mat-checkbox [(ngModel)]="e.isOn"
                        (ngModelChange)="updateExtraValues(e)">
            {{e.name}}
          </mat-checkbox>
        </span>
      </section>
      

      <mat-divider></mat-divider>

      <mat-expansion-panel
        hideToggle=""
        class="bgcolor"
        (expandedChange)="setWicketStatus()"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Wicket </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-panel-description>
          <div class="wk-wrapper">
            <mat-form-field appearance="fill">
              <mat-label>Wicket Type</mat-label>
              <mat-select [formControl]="wicketControl" name="wicket">
                <mat-option *ngFor="let w of wicketVals" [value]="w.value">
                  {{ w.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn">Reset</button>
      <button mat-raised-button color="primary" (click)="onClick()">
        Record Ball
      </button>
    </mat-card-actions>
  </mat-card>
</section>
