<div
  class="steper"
  *ngIf="!stepperClosed.isOn"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" label="Select Teams ">
      <div class="steper" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h4>Select Tournament</h4>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Tournament Name</mat-label>
          <input matInput #tour [(ngModel)]="tournamentName" />
        </mat-form-field>

        <h4>Select Format</h4>
        <mat-slide-toggle [(ngModel)]="isTest" (ngModelChange)="onToggle()"
          >Test Match ?</mat-slide-toggle
        >
        <!-- <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let f of formats"
            [value]="f"
          >
            {{ f }}
          </mat-radio-button>
        </mat-radio-group> -->

        <h4 *ngIf="!isTest">Select Overs</h4>
        <!-- <mat-form-field appearance="outline">
          <mat-label>Overs:</mat-label>
          <mat-select [(ngModel)]="overSelect">
            <mat-option *ngFor="let oversSelect of overs" [value]="oversSelect">
              {{ oversSelect }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field
          class="example-full-width"
          appearance="outline"
          *ngIf="!isTest"
        >
          <mat-label>Overs</mat-label>
          <input
            matInput
            #tour
            [(ngModel)]="totalOvers"
            (ngModelChange)="changeOvers()"
          />
        </mat-form-field>

        <div>
          <button
            *ngIf="tournamentName && overSelect != -1"
            mat-raised-button
            matStepperNext
            color="primary"
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Select Teams ">
      <div class="steper" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h4>Select Teams</h4>
        <mat-form-field appearance="outline">
          <mat-label>Team A</mat-label>
          <mat-select
            [(ngModel)]="selectedTeamA"
            (selectionChange)="onTeamSelectedChange(selectedTeamA, 0)"
          >
            <mat-option
              *ngFor="let team of teamDetails.teams"
              [value]="team.name"
            >
              {{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h4>V.S</h4>
        <mat-form-field appearance="outline">
          <mat-label>Team B</mat-label>
          <mat-select
            [(ngModel)]="selectedTeamB"
            (selectionChange)="onTeamSelectedChange(selectedTeamB, 1)"
          >
            <mat-option
              *ngFor="let team of teamDetails.teams"
              [value]="team.name"
            >
              {{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button
            *ngIf="selectedTeamA && selectedTeamB"
            mat-raised-button
            matStepperNext
            color="primary"
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step label="Select players for Team">
      <div class="steper" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="teams" fxLayout="row" fxLayoutAlign="space-around  stretch">
          <div *ngIf="selectedTeamA" class="team">
            <mat-card class="scrollable-content">
              <mat-card-title
                fxLayout="row"
                fxLayoutAlign="space-between center"
                >{{ selectedTeamA }}
              </mat-card-title>

              <mat-card-subtitle
                >Players selected :
                {{ selectedElevenOfTeams[0].players.length }}</mat-card-subtitle
              >

              <span class="example-list-section">
                <mat-selection-list
                  [(ngModel)]="selectedElevenOfTeams[0].players"
                >
                  <mat-list-option
                    *ngFor="let player of playingTeams[0].players"
                    [value]="player"
                  >
                    {{ player.name }}
                  </mat-list-option>
                </mat-selection-list>
              </span>
            </mat-card>
          </div>
          <div *ngIf="selectedTeamB" class="team">
            <mat-card class="scrollable-content">
              <mat-card-title
                fxLayout="row"
                fxLayoutAlign="space-between center"
                >{{ selectedTeamB }}
              </mat-card-title>

              <mat-card-subtitle
                >Players selected :
                {{ selectedElevenOfTeams[1].players.length }}</mat-card-subtitle
              >

              <span class="example-list-section">
                <mat-selection-list
                  #playerxi
                  [(ngModel)]="selectedElevenOfTeams[1].players"
                >
                  <mat-list-option
                    *ngFor="let player of playingTeams[1].players"
                    [value]="player"
                  >
                    {{ player.name }}
                  </mat-list-option>
                </mat-selection-list>
              </span>
            </mat-card>
          </div>
        </div>
        <div>
          <button mat-raised-button matStepperPrevious color="primary">
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            matStepperNext
            (click)="setMetaData()"
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step
      label="Start Game"
      fxLayout="column"
      fxLayoutAlign="space-evenly center"
    >
      <div class="steper">
        <h4>Toss Won by :</h4>
        <mat-form-field appearance="outline">
          <mat-label>Select Team</mat-label>
          <mat-select [(value)]="tossWonBy">
            <mat-option value="teamA">
              {{ matchMetaData.teamA.teamName }}
            </mat-option>
            <mat-option value="teamB">
              {{ matchMetaData.teamB.teamName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h4>Decision to:</h4>
        <mat-form-field appearance="outline">
          <mat-label>Select Decision</mat-label>
          <mat-select [(value)]="tossWinnerDecision">
            <mat-option value="Batting"> Batting </mat-option>
            <mat-option value="Bowling"> Bowling </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            *ngIf="tossWonBy && tossWinnerDecision"
            (click)="startScoring()"
          >
            Start New Game
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
