<div class="steper" *ngIf="!stepperClosed.isOn">
  <mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" label="Select Teams ">
      <div class="steper" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h4>Select Tournament</h4>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tournament</mat-label>
          <input
            matInput
            #tour
            [(ngModel)]="tournament"
            (ngModelChange)="setTournament()"
          />
        </mat-form-field>

        <!-- <mat-form-field appearance="fill">
          <mat-label>tournament</mat-label>
         <mat-select
            [(ngModel)]="tournament"
            (selectionChange)="setTournament()"
          >
            <mat-option
              *ngFor="let tournament of tournaments"
              [value]="tournament.name"
            >
              {{ tournament.name }}
            </mat-option>
          </mat-select> 
      </mat-form-field>  -->

        <h4>Select Overs</h4>
        <mat-form-field appearance="fill">
          <mat-label>Overs:</mat-label>
          <mat-select [(ngModel)]="overSelect" (selectionChange)="setOvers()">
            <mat-option *ngFor="let oversSelect of overs" [value]="oversSelect">
              {{ oversSelect }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button
            *ngIf="tournament && overs"
            mat-raised-button
            matStepperNext
            color="primary"
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Select Teams ">
      <div class="steper" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h4>Select Teams</h4>
        <mat-form-field appearance="fill">
          <mat-label>team1</mat-label>
          <mat-select
            [(ngModel)]="selectedValue1"
            (selectionChange)="onChange(selectedValue1, 0)"
          >
            <mat-option
              *ngFor="let team of teamDetails.teams"
              [value]="team.name"
            >
              {{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h4>V.S</h4>
        <mat-form-field appearance="fill">
          <mat-label>team2</mat-label>
          <mat-select
            [(ngModel)]="selectedValue2"
            (selectionChange)="onChange(selectedValue2, 1)"
          >
            <mat-option
              *ngFor="let team of teamDetails.teams"
              [value]="team.name"
            >
              {{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button
            *ngIf="selectedValue2 && selectedValue1"
            mat-raised-button
            matStepperNext
            color="primary"
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step label="Select players for Team">
      <div class="steper" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="teams" fxLayout="row" fxLayoutAlign="space-around  stretch">
          <div *ngIf="selectedValue1" class="team">
            <mat-card class="scrollable-content">
              <mat-card-title
                fxLayout="row"
                fxLayoutAlign="space-between center"
                >{{ selectedValue1 }}
              </mat-card-title>

              <mat-card-subtitle
                >Players selected :
                {{ playingXi[0].players.length }}</mat-card-subtitle
              >

              <span class="example-list-section">
                <mat-selection-list [(ngModel)]="playingXi[0].players">
                  <mat-list-option
                    (change)="selectPlayingXi(0)"
                    *ngFor="let player of playingTeams[0].players"
                    [value]="player"
                  >
                    {{ player.name }}
                  </mat-list-option>
                </mat-selection-list>
              </span>
            </mat-card>
          </div>
          <div *ngIf="selectedValue2" class="team">
            <mat-card class="scrollable-content">
              <mat-card-title
                fxLayout="row"
                fxLayoutAlign="space-between center"
                >{{ selectedValue2 }}
              </mat-card-title>

              <mat-card-subtitle
                >Players selected :
                {{ playingXi[1].players.length }}</mat-card-subtitle
              >

              <span class="example-list-section">
                <mat-selection-list
                  #playerxi
                  [(ngModel)]="playingXi[1].players"
                  (change)="selectPlayingXi(1)"
                >
                  <mat-list-option
                    *ngFor="let player of playingTeams[1].players"
                    [value]="player"
                  >
                    {{ player.name }}
                  </mat-list-option>
                </mat-selection-list>
              </span>
            </mat-card>
          </div>
        </div>
        <div>
          <button mat-raised-button matStepperPrevious color="primary">
            Back
          </button>
          <!-- <button
            mat-raised-button
            color="primary"
            matStepperNext
            *ngIf="
              playingXi[0].players.length == 12 &&
              playingXi[1].players.length == 12
            "
          > -->
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step
      label="Start Game"
      fxLayout="column"
      fxLayoutAlign="space-evenly center"
    >
      <div class="steper">
        <h4>TOSS :</h4>
        <mat-form-field appearance="fill">
          <mat-label>TOSS:</mat-label>
          <mat-select [(ngModel)]="toss" (selectionChange)="setToss()">
            <mat-option [value]="selectedValue1">
              {{ selectedValue1 }}
            </mat-option>
            <mat-option [value]="selectedValue2">
              {{ selectedValue2 }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h4>Choose to:</h4>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="role" (selectionChange)="setRole()">
            <mat-label>ChooseTo:</mat-label>
            <mat-option value="Batting"> Batting </mat-option>
            <mat-option value="Bowling"> Bowling </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            *ngIf="toss && role"
            (click)="newGames()"
          >
            New Game
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
