.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  // display: flex;
  height: 100%;
  // align-items: center;
  // justify-content: center;
  background-color: white;
}

.example-sidenav {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.spacer-2 {
  margin-left: 10px;
}

.l-item {
  width: 100px;
}

/* show the logo on screens wider than 600px */
@media (min-width: 600px) {
  .logo {
    display: block;
  }
}

/* hide the logo on screens narrower than 600px */
@media (max-width: 600px) {
  .logo {
    display: block;
    width: 50%;
  }
}
