<mat-divider></mat-divider>
<div *ngIf="scoreCard[0] && scoreCard[0].innings">
  <section
    *ngIf="
      scoreCard[0].innings.a_1 && scoreCard[0].innings.a_1.allOvers.length > 0
    "
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ scoreCard[0].innings.a_1.teamName }} 1st Inning
        </mat-panel-title>
        <mat-panel-description> Overs Summary </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- Content -->

      <div *ngFor="let o of scoreCard[0].innings.a_1.allOvers">
        <mat-divider></mat-divider>
        <crx-over-card [over]="o"></crx-over-card>
      </div>
      <!-- End of Content -->
    </mat-expansion-panel>
  </section>
  <mat-divider></mat-divider>
  <section
    *ngIf="
      scoreCard[0].innings.b_1 && scoreCard[0].innings.b_1.allOvers.length > 0
    "
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ scoreCard[0].innings.b_1.teamName }} 1st Inning
        </mat-panel-title>
        <mat-panel-description> Overs Summary </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- Content -->

      <div *ngFor="let o of scoreCard[0].innings.b_1.allOvers">
        <mat-divider></mat-divider>
        <crx-over-card [over]="o"></crx-over-card>
      </div>
      <!-- End of Content -->
    </mat-expansion-panel>
  </section>
  <section
    *ngIf="
      scoreCard[0].innings.a_2 && scoreCard[0].innings.a_2.allOvers.length > 0
    "
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ scoreCard[0].innings.a_2.teamName }} 2nd Inning
        </mat-panel-title>
        <mat-panel-description> Overs Summary </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- Content -->

      <div *ngFor="let o of scoreCard[0].innings.a_2.allOvers">
        <mat-divider></mat-divider>
        <crx-over-card [over]="o"></crx-over-card>
      </div>
      <!-- End of Content -->
    </mat-expansion-panel>
  </section>

  <section
    *ngIf="
      scoreCard[0].innings.b_2 && scoreCard[0].innings.b_2.allOvers.length > 0
    "
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ scoreCard[0].innings.b_2.teamName }} 1st Inning
        </mat-panel-title>
        <mat-panel-description> Overs Summary </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- Content -->

      <div *ngFor="let o of scoreCard[0].innings.b_2.allOvers">
        <mat-divider></mat-divider>
        <crx-over-card [over]="o"></crx-over-card>
      </div>
      <!-- End of Content -->
    </mat-expansion-panel>
  </section>
</div>
