<!-- <crx-pre-game></crx-pre-game> -->
<mat-tab-group
  mat-align-tabs="end"
  color="primary"
  backgroundColor="primary"
  *ngIf="stepperClosed.isOn"
>
  <mat-tab label="Scorer"
    ><div class="bgx" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="container-1" fxFlex="32" fxFill>
        <crx-match-summary></crx-match-summary>
      </div>

      <div class="container-1" fxFlex fxFill>
        <crx-batter-panel></crx-batter-panel>
      </div>

      <div class="container-1" fxFlex fxFill>
        <crx-bowler-panel></crx-bowler-panel>
      </div>
    </div>

    <div class="bgx" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="container-1" fxFlex fxFill>
        <crx-wagon-wheel-selector></crx-wagon-wheel-selector>
        <div class="container-1" fxFlex="90">
          <crx-runs-panel></crx-runs-panel>
        </div>
      </div></div
  ></mat-tab>
  <mat-tab label="Ball-by-Ball">
    <crx-by-ball></crx-by-ball>
  </mat-tab>

  <mat-tab label="Scorecard">
    <crx-player-score-card></crx-player-score-card>
  </mat-tab>

  <!-- <mat-tab label="TEST">
    <button (click)="testPreGameDataService()">TEST</button>
  </mat-tab> -->
</mat-tab-group>
