section {
  padding: 10px;
}

table {
  width: 100%;
  box-shadow: none;
}

.mat-column-name {
  width: 70%;
}

.mat-header-cell,
.mat-cell {
  padding: 10px;
}
mat-card {
  // height: 40vh;
}

.btm-container {
  padding-top: 10px;
}

mat-form-field {
  padding-top: 10px;
}

@media (max-width: 399px) {
  .font-on-mobile-m {
    font-size: medium;
  }
}
