section {
  padding: 10px;
}

.sec-2 {
  padding: 20px;
}

.sec-3 {
  padding-left: 20px;
}

.score {
  text-align: right;
  font-size: large;
}
.team {
  text-align: left;
}

.mat-form-field-underline {
  height: 0;
}
