section {
  padding: 10px;
}

.sec-2 {
  padding: 20px;
}

.sec-3 {
  padding-left: 20px;
  width: 100px;
}

.score {
  text-align: right;
  font-size: 50px;
}
.team {
  text-align: left;
}

.mat-form-field-underline {
  height: 0;
}

mat-form-field {
  height: 60px;
}

mat-card {
  height: 40vh;
}

.batting-team-title {
  color: black;
  padding-top: 10px;
}
